<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='introjs.css') }}">
    <script src="{{ url_for('static', filename='intro.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3.v3.min.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='bootstrap2-toggle.min.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='bootstrap2-toggle.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='bootstrap2-toggle.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.tipsy.js') }}"></script>
      <link href="{{ url_for('static', filename='tipsy.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='bootstrap-modal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='page.js') }}"></script>
<script>
		function startTour() {
			var tour = introJs();
			tour.setOption('tooltipPosition', 'auto');
			tour.setOption('positionPrecedence', ['left', 'right', 'bottom', 'top']);
			tour.start()
		}

	</script>
    <title>Verba Sonandi</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="bottom:0px; right:0px;">
        <a tabindex="-1" type="button" class="btn btn-info btn-sm" href="/zvukimu/admin"> &#128295;</a>
    <a tabindex="-1"  href="/zvukimu" type="button" class="btn btn-info btn-sm">RU</a>
</div>

<div id="graph" data-step="7" data-intro="После нажатия чекбокса вы увидите графы, которые визуализируют полученные данные. </br></br> Узлы графа можно перетаскивать мышкой в удобные области экрана. Узлы прикрепляются к тому месту экрана, куда вы их перетянули. Чтобы освободить узел, дважды кликните на него. </br></br> Красные узлы графа символизируют животных, черные - тэги. Остальные узлы графа - глаголы, они окрашены в разные цвета в зависимости от языка.">
</div>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-brand navbar-header" href="/">Verba Sonandi</a>
                        <form role="search" class="navbar-form form-inline" id="search">

                            <div class="form-group" data-step="1" data-intro="Для поиска животных введите их названия через запятую в этом поле. Например: волк, медведь."><input type="text" value="кошка, собака" placeholder="Nom de l’animal" class="form-control" name="animal" id="animal_search">
                            </div>
                            <div class="form-group" data-step="2" data-intro="Для поиска определенных языков введите их названия через запятую в этом поле. Например: индонезийский, китайский."><input type="text" value="молдавский, греческий" placeholder="Langue" class="form-control" name="language" id="lang_search">
                            </div>
                            <div class="form-group" data-step="3" data-intro="Для поиска определенных тэгов введите их названия через запятую в этом поле. Например: человек, плач."><input type="text" value="человек" placeholder="Tag" class="form-control" name="tag" id="tag_search">
                            </div>
                            <div class="form-group">
                                 <button class="btn btn-default" type="submit" data-step="4" data-intro="Чтобы начать поиск, нажмите эту кнопку. Также поиск начнется по нажатию Enter в любом поле поиска.">Recherche</button>
                            <div class="form-group" data-step="5" data-intro="Чтобы увидеть графы, щелкните этот чекбокс. Чтобы увидеть таблицы, щелкните чекбокс повторно.">
                                 <input type="checkbox" id="toggle-two" data-height="30" data-width="100">
                            </div>
                                </div>
                            <a href="#myModal" tabindex="-1" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" aria-labelledby="Advanced Search">Recherche avancé</a>
                            <a tabindex="-1" type="button" class="btn btn-info btn-sm" href="javascript:void(0);" onclick="startTour();" aria-labelledby="Help">Aide</a>
                        </form>
                    </li>
                </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="subcorpusLabel">1234</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-sm-3">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="panel panel-success">
                            <div class="panel-heading">
                              13456
                            </div>
                            <div class="panel-body">
                                wqertg
                          </div>
                      </div>
                  </div>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="row"  id="upper_tables">
    <div class="col-md-7">
        <div class="panel panel-default" data-step="5" data-intro="Здесь показаны результаты поиска в виде таблицы. Чтобы посмотреть метафоры определенного глагола, щелкните на строку, в которой он находится.">
            <div class="panel-heading">Résultats</div>

            <table id="results" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Langue</th>
                    <th>Nom de l’animal</th>
                    <th>Nom de l’animal dans cette langue</th>
                    <th>Verbe</th>
                    <th>Possibilités de traduction</th>
                    <th>Tag</th>
                    <th>Exemple d'emploi primaire</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5" id="fixed">
        <div class="panel panel-default" >
            <div class="panel-heading" data-step="6" data-intro="Здесь появится информация о метафорических значениях выбранного глагола.">Verbe: <span id="title"></span></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h4>Exemple d'emploi primaire</h4>
                    <ul id="crew">
                    </ul>
                </div>
                <div class="col-sm-12 col-md-12">
                    <h4>Possibilité de traduction d’emploi métaphorique</h4> <p id="trans"></p>
                </div>
                <div class="col-md-12 col-sm-12">
                    <h4>Exemple d’emploi métaphorique</h4>
                    <ul id="met">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .node { stroke: #222; stroke-width: 2px; }
    .node.language { fill: yellow; opacity: 0.8}
    .node.animal { fill: red; opacity: 0.8}
    .node.verb { fill: #BBB; opacity: 0.8}
    .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    .node.fixed {  opacity: 1}
    .toggle-off.btn {padding-left: 14px;}
    .toggle-on.btn {padding-left: 4px;}
    #fixed {position: fixed; right:0}
    .divider-vertical {
        height: 150px;
        margin: 0 9px;
        border-left: 1px solid #BBBBBB;
        border-right: 1px solid #BAB;
        }
</style>


<script type="text/javascript">

    $(function () {


        function showInfo(title) {
            // todo change name!
            $.get("/zvukimu/fr/details/" + encodeURIComponent(title),
          //  $.get("/details/" + encodeURIComponent(title),
                    function (data) {
                        if (!data) return;
                        $("#title").text(data.verb);
                        $("#trans").text(data.trans);
                        var $list = $("#crew").empty();
                        data.dir.forEach(function (dir) {
                            $list.append($("<li>" + dir.ex + " " +dir.trans + "</li>"));
                        });
                        var $list2 = $("#met").empty();
                        data.met.forEach(function (met) {
                            $list2.append($("<li>" + met.ex + " " +met.trans + " " + met.tag + "</li>"));
                        });
                    }, "json");
            return false;
        }
        function search() {
            var s= $("#search");
            var query=s.find("input[name=search]").val();
            var animal=s.find("input[name=animal]").val();
            var lang=s.find("input[name=language]").val();
            var tag=s.find("input[name=tag]").val();
            draw_graph(query, animal, lang, tag);
            // todo change name!
            $.get("/zvukimu/fr/search?q=" + encodeURIComponent(query)+"&a="+ encodeURIComponent(animal)+"&l="+ encodeURIComponent(lang)+"&t="+ encodeURIComponent(tag),
          //  $.get("/search?q=" + encodeURIComponent(query)+"&a="+ encodeURIComponent(animal)+"&l="+ encodeURIComponent(lang)+"&t="+ encodeURIComponent(tag),
                    function (data) {
                        var t = $("table#results tbody").empty();
                        if (!data || data.length == 0) return;
                        data.forEach(function (row) {
                            var animals = row.data;
                            $("<tr><td>" + animals.language + "</td><td class='animal'>" + animals.animal + "</td><td>" + animals.animal2 + "</td><td class='verb'>" + animals.verb + "</td><td>" + animals.trans + "</td><td>" + animals.tag + "</td><td class='ex'>" + animals.ex + "</td></tr>").appendTo(t)
                                    .click(function() { showInfo($(this).find("td.verb").text());})
                        });
                        showInfo(data[0].data.verb);
                    }, "json");
            return false;
        }

        $("#search").submit(search);
        search();


        $('#toggle-two').bootstrapToggle({
            on: 'Tableaux',
            off: 'Graphes'
            }).change(function() {
       if ($(this).prop('checked')){$( "#upper_tables" ).hide();} else {$( "#upper_tables" ).show( );}
    });
            })
</script>

<script type="text/javascript">
    function dblclick(d) {
  d3.select(this).classed("fixed", d.fixed = false);
}

function dragstart(d) {
  d3.select(this).classed("fixed", d.fixed = true);
}

    function draw_graph(q, a, l, t){
        d3.select("#graph").html("");
    var width = 800, height = 800;

    var force = d3.layout.force()
            .charge(-200).linkDistance(30).size([width, height]);
    var drag = force.drag().on("dragstart", dragstart);
    var svg = d3.select("#graph").append("svg")
            .attr("width", "100%").attr("height", "100%")
            .attr("pointer-events", "all");

// todo change name!
       // d3.json("/graph?q=" + encodeURIComponent(q)+"&a="+ encodeURIComponent(a)+"&l="+ encodeURIComponent(l)+"&t="+ encodeURIComponent(t), function(error, graph) {
d3.json("/zvukimu/fr/graph?q=" + encodeURIComponent(q)+"&a="+ encodeURIComponent(a)+"&l="+ encodeURIComponent(l)+"&t="+ encodeURIComponent(t), function(error, graph) {
		if (error) return;

        force.nodes(graph.nodes).links(graph.links).start();

        var link = svg.selectAll(".link")
                .data(graph.links).enter()
                .append("line").attr("class", "link");
        var gnodes = svg.selectAll('g.gnode')
             .data(graph.nodes)
             .enter()
             .append('g')
             .classed('gnode', true);

        var node = gnodes.append("circle")
                .attr("class", function (d) { return "node "+d.label })
//                .attr("data-toggle", "tooltip")
                .attr("r", function (d) { return 5 +d.radius })
                //.attr('title', function (d) { return d.name; })
                .on("dblclick", dblclick)
                .call(force.drag)
                .style("fill", function (d) { return d.color });

        // html title attribute
        node.append("title")
                .text(function (d) { return d.name; }).attr('title', function (d) { return d.name; });
        var labels = gnodes.append("text")
            .text(function(d) {
            return '';//d.name;
       })
            .attr("font-family", "sans-serif")
           .attr("font-size", "11px")
           .attr("fill", "black")
         .attr("text-anchor", "middle");

        // force feed algo ticks
        force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

            gnodes.attr("transform", function(d) {
        return 'translate(' + [d.x, d.y] + ')';
    });
        });
    $('svg circle').tipsy({
        gravity: 'w',
        html: true,
        title: function() {
          var d = this.__data__, c = d.name;
          return c;
        }
      });
 });}



</script>
</body>
</html>
